<h3>Add Item to To-Do List</h3>
<%= form_for [@list, @list.items.build] do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Name" %>
  </div>
  <%= f.submit "Save", class: 'btn btn-success' %>
<% end %>