/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

  @media (min-width: 464px) {
    .sign-up {
        width: 66%;
    }
 }

  @media (min-width: 668px) {
    .sign-up {
        width: 40%;
    }
 }

   @media (min-width: 992px) {
    .sign-up {
        width: 33.33333333%;
    }
 }

 // .nav {
 //    margin-top: 5px;
 // }

 // .center {
 //    display: block;
 //    float: none;
 //    text-align: center;
 //    position: absolute;
 //    top: 25%;
 //    left: 0;
 //    right: 0;
 //    margin: auto;
 // }

 .user-info {
    margin-top: 3px;
 }

 .no-col-pad {
    padding-right: 0;
    padding-left: 0;
 }

 .marg-top {
    margin-top: 20px;
 }

 .page-header {
    margin: 20px 0 0;
 }

 .main-content {
    margin-top: 20px;
 }

 // .page-content {
 //    margin-top: 20px;
 // }

